.container {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}
.content {
  max-width: 900px;
  width: 100%;
  font-size: 200%;
  margin: auto;
}
.logo {
  width: 100%;
  height: 100%;
 
}
.menu_section{
  padding-bottom: 1%;
  padding-top: 1%;
  align-items: center;
  border-top: solid 2px #032d55;
  border-bottom: solid 2px #032d55;
}
.menu_container{
  max-width: 100%;
  width: 900px;
  margin: auto;
}
.menu_content{
  margin: auto;
  display: flex;
}
.menu {
  color: #032d55;
  margin-left: 5%; 
  font-size: 31px;
}

.search_input{
  margin-left: 10%;
  font-size: 25px;
  width: 60%;
  border: solid 2px #80bfff;
}
.search_icon{
  background-color: #80bfff;
  color: white;
  border: solid 2px #80bfff;
  font-size: 31px;
}
@media only screen and (min-width: 900px) {
  .logo {
    width: 100%;
    height: 120px
   
  }
  .menu {
    display: none;
  }
  .category{
    font-size: 31px;
    margin-left: 100px; 
    color: #032d55;
    cursor: pointer;
    font-weight: bolder;
    }
    .search_input{
      margin-left: 150px;
      font-size: 25px;
      width: 350px;
      border: solid 2px #80bfff;
    }
}
@media only screen and (max-width: 900px) {
 
  .category{
    display: none;
    }
}