.container {
  margin: auto;
  max-width: 900px;
  width: 100%;
  min-height: calc(100vh - 320px);
}
.description_container {
  width: 95%;
  margin: auto;
}
.price_container {
  text-align: center;
  font-size: 30px;
  color: red;
}
