.container {
  width: 100%;
  max-width: 900px;
  background: white;
  position:absolute;
  border-bottom: solid 2px #032d55;
}
.content {
  color: #032d55;
  margin-left: 5%;
  margin-bottom: 20px;
}
.category {
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px gray;
  display: block;
  text-decoration: none;
  color: black;
}
