.container {
  width: 100%;
  margin: auto;
  background: white;
  position:absolute;
  border-bottom: solid 2px #032d55;
}
@keyframes show{
  from {
    height: 0%; 
  }

  to {
    height: 100%;
  }
}
.content {
  text-align: center;
  color: #032d55;
  margin-left: 5%;
  margin-bottom: 20px;
}
.category_title{
  font-size: 40px;
  font-weight: bolder;
}
.category {
  font-size: 23px;
  font-family: neue-haas-unica, sans-serif;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: black;
}
@media only screen and (min-width: 900px) {
  .category_title{
    font-size: 40px;
    font-weight: bolder;
    display: none;
  }
  .content {
    margin-top: 20px;
  }
  .container {
  width: 100%;
  max-width: 350px;
  margin: auto;
  background: white;
  position:absolute;
  border-bottom: solid 2px #032d55;
  animation: show .5s;
}
}